.container-centerDetail {
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.container-houseDetail {
    background-color: #47372A;
    border-radius: 40px;
    box-shadow: 1px 10px 25px black;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.border-title {
    border-right: 1px solid black;
}

.header-houseDetail {
    color: beige;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    font-size: 1.3em;
}

.cardDetail {
    margin: 0 auto;
    width: 60%;
}